body{
    font-family: Arial, sans-serif;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.todo-app{
    background-color: cadetblue;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
}
h1{
    margin: 0 0 20px;
}
.input-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
#task-input{
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
#add-button{
    width: 285;
    background-color: coral;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 10px;
    cursor: pointer;
}
#add-button:hover{
    background-color: #0056b3;
}
ul{
    list-style-type: none;
    padding: 0;
}
li{
    display: flex;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
}
.delete-button{
    background-color: darkorange;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 5px;
    cursor: pointer;
}
.delete-button:hover{
    background-color: darkorange;
}